---

import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import { siteConfig } from "../config";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const aboutPost = await getEntry("spec", "about");

if (!aboutPost) {
	throw new Error("About page content not found");
}

const { Content } = await render(aboutPost);

// About页面SEO信息
const aboutTitle = aboutPost.data.title
	? `${aboutPost.data.title} - ${siteConfig.title}`
	: `关于我 - ${siteConfig.title}`;
const aboutDescription =
	aboutPost.data.description ||
	"了解更多关于查猫CHACAT的信息，游戏开发者、内容创作者、手机摄影师";
const aboutKeywords = [
	"关于",
	"个人简介",
	"游戏开发",
	"内容创作",
	"摄影",
	"查猫",
	"CHACAT",
];
---

<MainGridLayout 
	title={aboutTitle} 
	description={aboutDescription}
	image={siteConfig.banner?.src}
	keywords={aboutKeywords}
>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-6 md:px-9 py-6 relative w-full">
            <div class="prose dark:prose-invert prose-lg max-w-none">
                <Content />
            </div>
        </div>
    </div>
</MainGridLayout>