---
import ArchivePanel from "@components/ArchivePanel.svelte";
import HeatmapChart from "@components/HeatmapChart.svelte";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { siteConfig } from "../config";
import {
	getAllPosts,
	getAllPostsCount,
	getSortedPosts,
} from "../utils/content-utils";

const sortedPosts = await getSortedPosts();
const totalPostsCount = await getAllPostsCount();
const allPosts = await getAllPosts();

// Archive页面SEO信息
const archiveTitle = `文章归档 - ${siteConfig.title}`;
const archiveDescription = `浏览所有${totalPostsCount}篇文章的归档，按时间和热力图展示内容创作历程`;
const archiveKeywords = [
	"文章归档",
	"博客归档",
	"时间线",
	"热力图",
	"内容创作",
];
---

<MainGridLayout 
	title={archiveTitle}
	description={archiveDescription}
	image={siteConfig.banner?.src}
	keywords={archiveKeywords}
>
    <h1 class="text-2xl font-bold text-black/90 dark:text-white/90 mb-6 transition-colors duration-200">文章归档</h1>
    <HeatmapChart sortedPosts={sortedPosts} totalPostsCount={totalPostsCount} allPosts={allPosts} client:load></HeatmapChart>
<ArchivePanel sortedPosts={sortedPosts} client:load></ArchivePanel>
</MainGridLayout>

