---
import { profileConfig } from "../config";
import { url } from "../utils/url-utils";
import { getSortedPosts } from "../utils/content-utils";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";

const currentYear = new Date().getFullYear();

// 获取所有文章并计算总字数
const posts = await getSortedPosts();
let totalWords = 0;

// 遍历所有文章，累加字数
for (const post of posts) {
    const { remarkPluginFrontmatter } = await post.render();
    if (remarkPluginFrontmatter && remarkPluginFrontmatter.words) {
        totalWords += remarkPluginFrontmatter.words;
    }
}

// 格式化总字数，使用 k 单位表示千位数
const formatToK = (num) => {
    if (num >= 1000) {
        return Math.round(num / 1000) + 'K';
    }
    return num.toString();
};
const formattedTotalWords = formatToK(totalWords);
---

<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<!--<div class="transition bg-[oklch(92%_0.01_var(&#45;&#45;hue))] dark:bg-black rounded-2xl py-8 mt-4 mb-8 flex flex-col items-center justify-center px-6">-->
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <div class="transition text-50 text-sm text-center">
        &copy; <span id="copyright-year">{currentYear}</span> {profileConfig.name}. All Rights Reserved. /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a><br>
        <span class="text-50 text-sm font-medium">{formattedTotalWords} {i18n(I18nKey.wordsCount)}</span> / {posts.length} {i18n(I18nKey.postsCount)}<br>
        Powered by
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> &
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
    </div>
</div>